

.container {
  max-width: 1200px;
  margin: auto;
}



.Header{
  position: absolute;
  z-index: 200;
  color: white;
}
.nav{
  display: flex;
}

.logo{
  flex:1;
}
.logo img{
  margin: 1em;
  margin-left: 5em;
}

.navLinks{
  position: relative;
  flex: 2;
  margin-left: 10em;
}
.navLinks ul {
  margin-top: 2em;
  list-style: none;
  display: flex;
  gap: 3em;
}

.navLinks ul li {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: normal;
}













.Slider ul{
  list-style: none;
  padding:0px;
  margin: 0px;
}
.slide{
  max-width: 100%;
  height: 550px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}
.words{
  font-size: 2.875rem;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.btnLearnMore{
  background-color:#355989;
  margin-top:2em;
  padding-top:0.8125em ;
  padding-bottom: 0.8125em;
  padding-left: 1.8125em;
  padding-right: 1.8125em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swapButton{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1/1;
  top:30%;
  background-color: rgba(0, 0, 0, 0.25);
  font-family: Montserrat, Arial, Helvetica, sans-serif;  
  font-weight: 100;
  font-size: 2em;
  color:white
}
.swapButton.right{
  right:0px;
}



.blueBar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #355989;
  padding: 0.25em;
}
.miniAbout{
  display: flex;
  margin:4rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 3em;     
  gap:1rem;
}
.miniAboutWords{
  flex: 3;
}
.miniAboutTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 550;
}
.miniAboutParagraph{
  padding-left: 4rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: gray;
  line-height: 1.7;
}
.miniAboutParagraph p{
  margin-bottom: 1rem;
}
.flippingImages{
  flex: 1;
  font-size: 1rem;
  
}


.flip-card {
  background-color: transparent;
  width: 250px;
  aspect-ratio: 1/1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
  color: black;
}

.circleIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  width:65px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(116, 184, 63);
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.flipCardTitle{
  font-size: 1.5em;
}
/* Style the back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(116, 184, 63);
  border-radius: 5px;
  color: white;
  transform: rotateY(180deg);
}


.flipCardBackParagraph{
  font-size:1.15em;   
  line-height: 1.5;
}

.Row{
  display: flex;
  margin:auto;
}
.parentOfSections{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease 0.35s;
}
.parentOfSections:hover{
  transform: scale(1.03);
}


.columnAllWords{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: white;
  padding: 3rem;
}
.columnTitle{
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.columnWords{
  line-height: 1.7;
}

.columnButton{
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #355989;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}






/* -- Discover.jsx -- */
.DiscoverTitle{
  font-size: 1.75rem;
  font-weight: lighter;
  font-style: normal;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.625rem;
}
.DiscoverLine{
  border-top:solid #355989 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  margin-bottom: 2rem;;
}
.DiscoverWords{
  color: gray;
  margin-left:14rem;
  margin-right: 14rem;
  margin-bottom: 2rem;
  text-align: center;

}
.AllDiscoverIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8em;
  margin-right: 8em;
  
}
.DiscoverIcons{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  gap:1em;
  
}
.DiscoverIcons img{
  max-width: 150px;
  aspect-ratio: 1/1;
}
.DiscoverIconsWords{
  font-weight: 500;
}
.DiscoverIconsWords:hover{
  color:#355989;
}