

.container {
  max-width: 1200px;
  margin: auto;
}



.Header{
  position: absolute;
  z-index: 200;
  color: white;
}
.nav{
  display: flex;
}

.logo{
  flex:1;
}
.logo img{
  margin: 1em;
  margin-left: 5em;
}

.navLinks{
  position: relative;
  flex: 2;
  margin-left: 10em;
}
.navLinks ul {
  margin-top: 2em;
  list-style: none;
  display: flex;
  gap: 3em;
}

.navLinks ul li {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: normal;
}











.Slider{

}

.Slider ul{
  list-style: none;
  padding:0px;
  margin: 0px;
}
.slide{
  max-width: 100%;
  height: 550px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}
.words{
  font-size: 2.875rem;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.btnLearnMore{
  background-color:#355989;
  margin-top:2em;
  padding-top:0.8125em ;
  padding-bottom: 0.8125em;
  padding-left: 1.8125em;
  padding-right: 1.8125em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swapButton{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1/1;
  top:30%;
  background-color: rgba(0, 0, 0, 0.25);
  font-family: Montserrat, Arial, Helvetica, sans-serif;  
  font-weight: 100;
  font-size: 2em;
  color:white
}
.swapButton.right{
  right:0px;
}



.blueBar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #355989;
  padding: 0.25em;
}
.miniAbout{
  display: flex;
  margin:4em;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 3em;     ;
}
.miniAboutWords{
  flex: 3;
}
.miniAboutTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2;
  font-weight: bold;
}
.miniAboutParagraph{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
}
.flippingImages{

  flex: 1
}